/*HOME*/
header {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
h1 {
color: #333;
}

.login-button {
background-color: #4CAF50;
color: white;
padding: 10px 20px;
text-decoration: none;
border-radius: 4px;
}

.square {
    width: 200px;
    height: 200px;
    background-color: #eaeaea;
    margin: 20px;
    display: inline-block;
    text-align: center;
    line-height: 200px;
    font-size: 18px;
    color: #333;
    cursor: pointer;
}

/*LOGIN*/
.login-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* tablas*/
table {
    border: 1px solid black;
}
table th{
    background-color: #e4d78d;
}
table tr, td, th {
    border: 1px solid black;
}
table tr:nth-child(even) td {
    background-color: #a5e07d;
}
table tr:nth-child(odd) td {
    background-color: #90bdd8;
}